@model Product

<div class="card m-1 p-1">
    <div class="card-header">Produkt nr @Model.ProductId</div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-9">
                <h3 class="card-title">@Model.Name</h3>
            </div>
            <div class="col-lg-3" style="float: right;">
                <div class="badge badge-pill badge-primary">
                    <h4>@Model.Price.ToString("c")</h4>
                </div>
            </div>
        </div>

        <p class="card-text">
            @Model.Description
        </p>

    </div>
</div>