@model Cart

<div>
    @if (Model.Lines.Count() == 0)
    {
        <small class="navbar-text">
            <b>Twój koszyk:</b>
            @Model.Lines.Sum(p => p.Quantity).ToString("c")
            @Model.ComputeTotalValue().ToString("c")
        </small>
    }

    <a class="btn btn-sm btn-secondary navbar"
       asp-controller="Cart"
       asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>

</div>